#wp-css-jseditor{
	transition: background 0.5s;

	&.saved{
		background: yellow;
	}

	textarea{
		width: 100%;
		height: 15em;
		clear: both;
	}

	.wp-css-js-cssfiles{
		list-style: disc;
		padding: 0 0 0 2em;
		li{

		}
	}

	button{
		margin-left:1em;
	}

	.CodeMirror {
		border: 1px solid rgb(221,221,221);
	}

}

